.template-wrapper {
    position: absolute;
    width: calc(100% - 130px);
    height: calc(100% - 120px);
    left: 130px;
    top:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

