$grey:#747474;
$green:#19A05E;
*{
    padding: 0;
    margin: 0;
}

.nav-wrapper {
    position: fixed;
    height: 100%;
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $green;
}
.nav-container {
    width: 130px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .logo{
        display: flex;
    }
    .nav-item {
        width: 130px;
        height: 130px;
        color: white;
        display: flex;
        text-decoration: none;
        justify-content: center; 
        align-items: center;
        a{
            display: flex;
            flex-direction: column;
            font-size: 21px;
            line-height: 25px;
            font-weight: 450;
        }
        .icon{
            font-size: 40px;
            padding-bottom: 10px;
        }
    }
}
.current-page {
    /* 각 페이지에 들어갔을 때 적용할 스타일 */
    background-color: white; 
    a{
        color: green;
    }
}




