$grey:#747474;
$green:#19A05E;


.nav-wrapper {
<<<<<<< HEAD
    width: 7vw;
    height: 100vh;
=======
    width: 130px;
    height: 1000px; /*나중에바꾸기*/
    display:flex;
>>>>>>> 4279e10e9e6cacc672c58f09c72ae22b5decca10
    flex-direction: row;
    float: left;
    background-color: $green;
}
.nav-container {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* 추가 */
    margin: 0; /* 추가 */
    
    .Ylogo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 5vh 0;
        .logo{
            display: flex;
        }
    }
    .nav-item {
        width: 100%;
<<<<<<< HEAD
        height: 15vh;
=======
        height: 16vh;
>>>>>>> 4279e10e9e6cacc672c58f09c72ae22b5decca10
        color: white;

        display: flex;
        justify-content: center; 
        align-items: center;
        a{
            display: flex;
            flex-direction: column;
<<<<<<< HEAD
            font-size: 1vw;
=======
            font-size: 1.3rem;
>>>>>>> 4279e10e9e6cacc672c58f09c72ae22b5decca10
            line-height: 1.5vh;
            font-weight: 500;
            color: inherit;
            text-decoration: none;
            align-items: center;
        }
        .icon{
<<<<<<< HEAD
            width: 3vw;
=======
            width: 3.3vw;
>>>>>>> 4279e10e9e6cacc672c58f09c72ae22b5decca10
            height: auto;
            padding-bottom: 1.2vh;
        }
    }
    .current-page {
        /* 각 페이지에 들어갔을 때 적용할 스타일 */
        background-color: white; 

        a{
            color: #19A05E;
        }
    }
}




